<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home</title>

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./static/revolution/css/settings.css">

	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="./static/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="./static/revolution/css/navigation.css">

	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="./static/libraries/lib.css">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="./static/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="./static/css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="./static/css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="./static/css/style1.css">
	<link rel="stylesheet" type="text/css" href="./static/css/my_style.css">


	<!--[if lt IE 9]>
		<script src="./static/js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<div class="main-container">
		<!-- Loader -->
		<div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="loader-inner ball-clip-rotate">
					<div></div>
				</div>
			</div>
		</div><!-- Loader /- -->
		<header class="header-section container-fluid no-padding">
			<!-- Menu Block -->
			<div class="container-fluid no-padding menu-block">
				<!-- Container -->
				<div class="container">
					<!-- nav -->
					<nav class="navbar navbar-default ow-navigation">
						<div class="navbar-header">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.html" class="navbar-brand">校园二手书 <span>平台</span></a>
						</div>
						<!-- Menu Icon -->
						<div class="menu-icon">
							<div class="search">
								<a href="#" id="search" title="Search"><i class="icon icon-Search"></i></a>
							</div>
							<ul class="cart">
								<li><a aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" id="cart" class="btn dropdown-toggle" title="购物车" href="#"><i class="icon icon-ShoppingCart"></i></a></li>
								<li><a href="#" title="收藏夹"><i class="icon icon-Heart"></i></a></li>
								<li><a href="#"><span class="login-register" onclick="openUrl('login')">登录 </span><span style="color: #757575">/</span><span class="login-register" onclick="openUrl('signup')"> 注册</span></a></li>
							</ul>
						</div><!-- Menu Icon /- -->
						<div class="navbar-collapse collapse navbar-right" id="navbar">
							<ul class="nav navbar-nav">
								<li><a href="index.html">主页</a></li>
								<li><a href="cart.html">购物车</a></li>
								<li><a href="about.html">用户中心</a></li>
								<li><a href="contact-us.html">关于我们</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</nav><!-- nav /- -->
					<!-- Search Box -->
					<div class="search-box">
						<span><i class="icon_close"></i></span>
						<form><input type="text" class="form-control" placeholder="输入关键词进行搜索" /></form>
					</div><!-- Search Box /- -->
				</div><!-- Container /- -->
			</div><!-- Menu Block /- -->
		</header><!-- Header /- -->

		<main>
			<!-- 活动海报部分 -->
			<div id="home-revslider" class="slider-section container-fluid no-padding my_home-revslider">
				<!-- START REVOLUTION SLIDER 5.0 -->
				<div class="rev_slider_wrapper">
					<div id="home-slider1" class="rev_slider" data-version="5.0">
						<ul>
							<!-- 海报轮换 -->
							<!-- 海报1 -->
							<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
								<img src="./static/activity/activity1.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							</li>
							<!-- 海报2 -->
							<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
								<img src="./static/activity/activity2.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							</li>
                            <!-- 海报3 -->
							<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
								<img src="./static/activity/activity3.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							</li>
                            <!-- 海报4 -->
							<li data-transition="zoomout" data-slotamount="default"  data-easein="easeInOut" data-easeout="easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7">
								<img src="./static/activity/activity4.jpg" alt="slider" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							</li>
						</ul>
					</div><!-- END REVOLUTION SLIDER -->
				</div><!-- END OF SLIDER WRAPPER -->
				<div class="goto-next"><a href="#product-section"><i class="icon icon-Mouse bounce"></i></a></div>
			</div><!-- Slider Section 1 /- -->

			<div style="margin-top: 60px"></div>

			<!-- Product Section -->
			<div id="product-section" class="product-section container-fluid no-padding">
				<!-- Container -->
				<div class="container">
					<div class="row">
						<!-- Section Header -->
						<div class="section-header">
							<h3>我们的产品</h3>
							<p>保证是二手的！</p>
							<img src="./static/images/section-seprator.png" alt="section-seprator" />
						</div><!-- Section Header /- -->
						<ul class="products-categories no-left-padding">
							<li><a id = ""onclick="getlist(this)">所有商品</a></li>
							<li><a  onclick="getlist(this)">基础学科</a></li>
							<li><a  onclick="getlist(this)">语言</a></li>
							<li><a  onclick="getlist(this)">计算机</a></li>
							<li><a  onclick="getlist(this)">政治</a></li>
							<li><a  onclick="getlist(this)">机电</a></li>
							<li><a  onclick="getlist(this)">法律</a></li>
							<li><a  onclick="getlist(this)">土木</a></li>
							<li><a  onclick="getlist(this)">生活</a></li>
							<li><a  onclick="getlist(this)">艺术</a></li>
						</ul>
						<div class="input-group">
							<input class="form-control" placeholder="查找商品" type="text">
							<span class="input-group-btn">
								<button class="btn btn-search" title="Search" type="button"><i class="icon icon-Search"></i></button>
							</span>
						</div>
						<!-- Products -->
						<ul id = "all" class="products">
							<!-- Product -->
							<div class="listitem">
								<li class="product design">
									<a href="#">
										<img src="./static/images/product-1.jpg" alt="Product" />
										<h5>Stylish Chair</h5>
										<span class="price"><del>$200</del>$139</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-search" title="查找同类商品"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->
							
							<!-- Product -->
							<div class="listitem">
								<li class="product video">
									<a href="#">
										<img src="./static/images/product-2.jpg" alt="Product" />
										<h5>men's casual shoes</h5>
										<span class="price"><del>$150</del>$85</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-search" title="查找同类商品"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->
							

							<!-- Product -->
							<div class="listitem">
								<li class="product photography">
									<a href="#">
										<img src="./static/images/product-3.jpg" alt="Product" />
										<h5>Sun glass</h5>
										<span class="price"><del>$100</del>$35</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-search" title="查找同类商品"></i></a>
									</div>
								</li>
							</div>	
							<!-- Product /- -->

							<!-- Product -->
							<div class="listitem">
								<li class="product web">
									<a href="#">
										<img src="./static/images/product-4.jpg" alt="Product" />
										<h5>tourist bags</h5>
										<span class="price"><del>$350</del>$279</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-search" title="查找同类商品"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->

							<!-- Product -->
							<div class="listitem">
								<li class="product design">
									<a href="#">
										<img src="./static/images/product-5.jpg" alt="Product" />
										<h5>mobile phone</h5>
										<span class="price"><del>$450</del>$359</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-comments-o" title="联系商家"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->
							<!-- Product -->
							<div class="listitem">
								<li class="product video">
									<a href="#">
										<img src="./static/images/product-6.jpg" alt="Product" />
										<h5>men's winter coat</h5>
										<span class="price"><del>$220</del>$129</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-comments-o" title="联系商家"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->
							<!-- Product -->
							<div class="listitem">
								<li class="product photography">
									<a href="#">
										<img src="./static/images/product-7.jpg" alt="Product" />
										<h5>Model x12 computer</h5>
										<span class="price"><del>$850</del>$550</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-comments-o" title="联系商家"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->
							<!-- Product -->
							<div class="listitem">
								<li class="product web">
									<a href="#">
										<img src="./static/images/product-8.jpg" alt="Product" />
										<h5>Stylish headset</h5>
										<span class="price"><del>$50</del>$29</span>
									</a>
									<div class="wishlist-box">
										<a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a>
										<a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a>
										<a href="#"><i class="fa fa-comments-o" title="联系商家"></i></a>
									</div>
								</li>
							</div>
							<!-- Product /- -->
						</ul><!-- Products /- -->
					</div><!-- Row /- -->
					<div id = "page" class="section-header">
					</div><!-- Container /- -->
			</div><!-- Product Section /- -->

			<!-- Latest Blog -->
			<div class="blog-section latest-blog container-fluid">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header">
						<h3>公告栏</h3>
						<p>你想知道的一切，都没有哦</p>
						<img src="./static/images/section-seprator.png" alt="section-seprator" />
					</div><!-- Section Header /- -->
					<div class="col-md-4 col-sm-6 col-xs-6">
						<div class="type-post">
							<div class="entry-cover">
							</div>
							<div class="blog-content">
								<h3 class="entry-title"><a href="#" title="new Collectios are imported In Our shop."><b>寒潮蓝色预警继续发布：中东部地区气温仍持续偏低</b></a></h3>
								<div class="entry-meta">
									<span class="post-like"><i class="fa fa-book"></i>新闻资讯</span>
									<span class="post-admin"><i class="fa fa-calendar-o"></i>2018/12/09</span>
								</div>
								<div class="entry-content">
									<p>中新网12月9日电 据中央气象台网站消息，中央气象台12月9日06时继续发布寒潮蓝色预警：受强冷空气影响，预计9日至12日，我国中东部地区气温仍持续偏低。</p>
									<a href="#" title="Read More" class="read-more">查看更多信息<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-6">
						<div class="type-post">
							<div class="entry-cover">
								<a href="#"><img src="./static/images/blog-3.jpg" alt="blog"></a>
							</div>
							<div class="blog-content">
								<h3 class="entry-title"><a href="#" title="buyers are saying it's good shop"><b>大猩猩的起源</b></a></h3>
								<div class="entry-meta">
									<span class="post-like"><i class="fa fa-book"></i>新闻资讯</span>
									<span class="post-admin"><i class="fa fa-calendar-o"></i>2018/12/09</span>
								</div>
								<div class="entry-content">
									<p>今日，我们平台有用户购书时意外遭到多只大猩猩的袭击，当他醒来时，突然洞悉了大猩猩的起源秘密......</p>
									<a href="#" title="Read More" class="read-more">查看更多信息<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-6">
						<div class="type-post">
							<div class="entry-cover">
							</div>
							<div class="blog-content">
								<h3 class="entry-title"><a title="Best Solds in the this year was watches" href="#"><b>服务器维护公告</b></a></h3>
								<div class="entry-meta">
									<span class="post-like"><i class="fa fa-book"></i>平台公告</span>
									<span class="post-admin"><i class="fa fa-calendar-o"></i>2018/12/09</span>
								</div>
								<div class="entry-content">
									<p>平台将于2018年12月10日凌晨1点开始服务器后台升级，持续时间预计为5个小时，届时为用户带来的不便敬请谅解。</p>
									<a href="#" title="Read More" class="read-more">查看更多信息<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Latest Blog /- -->

		</main>
		
		<!-- Footer Main -->
		<footer id="footer-main" class="footer-main container-fluid">
			<!-- Container -->
			<div class="container my_center">

						<p>Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="#" target="_blank" title="模板之家">二手书之家</a> - Collect from <a href="#" title="二手书平台" target="_blank">买书就买二手的</a></p>

			</div><!-- Container /- -->
		</footer><!-- Footer Main /- -->

	</div>

	
	<!-- JQuery v1.12.4 -->
	<script src="./static/js/jquery.min.js"></script>
	<script>
		var pageall;
		var pageno;
		var pagesize;
		var zz;
		function getzz() {
		    var a = $("ul#all div.listitem");
		    var zz =new Array(a.length);
		    for(var i=0;i <a.length;i++){
		        zz[i]=a[i].innerHTML;
		    } //div的字符串数组付给zz
		    return zz;
		}

		function change(e){
		   
		    pageno=e;
		    if(e<1){
		        e=1;pageno=1;//就等于第1页 ， 当前页为1
		    }
		    if(e>pageall){  //如果输入页大于最大页
		        e=pageall;pageno=pageall; //输入页和当前页都=最大页
		    }
		    $("#all").html("");//全部清空
		    var html="";
		    for(var i=0;i<pagesize;i++){
		        html += zz[(e-1)*pagesize+i];//创建一页的li列表
		        if(zz[(e-1)*pagesize+i+1]==null) break;//超出最后的范围跳出
		    }
		    $("ul#all").html(html);//给ul列表写入html
		    var pageContent="";
		    pageContent +='<a onClick="change(--pageno)">上一页</a>';
		    pageContent +=' 第<span id=\"a2\">'+pageno+'</span> /';
		    pageContent +='<span id="a1">'+pageall+'</span>页';
		    pageContent +='<a onClick="change(++pageno)">下一页</a>';
		    $("#page").html(pageContent);
		}

		function flashs(){
			zz =getzz();
		    pageno=1 ; //当前页
		    pagesize=8; //每页多少条信息
		    if(zz.length%pagesize==0){
		        pageall =zz.length/pagesize ;
		    }else{
		        pageall =parseInt(zz.length/pagesize)+1;
		    }   //一共多少页
		    change(1);
		}

		flashs();
		function first(){
			$.ajax({
                url: "http://127.0.0.1:8000/goods_list",
                data: { type: "所有商品"},
                dataType: "json",
                success: function (result) {
                    $('#all').empty();
                    var html = '';
                    //遍历返回的数据，查看当前的在线人数
                    $.each(result, function (index, data) {
                        html += 
                        '<div class="listitem"><li class="product photography"><a href="#"><img src='+data.url+' alt="Product" /><h5>'+data.goods_name+'</h5><span class="price">￥'+data.goods_price+'</span></a><div class="wishlist-box"><a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a><a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a><a href="#"><i class="fa fa-comments-o" title="联系商家"></i></a></div></li></div>'

                    });
                    $('#all').html(html);
                    flashs();
                }
            })
		}
		first();
		function getlist(data){
            $.ajax({
                url: "http://127.0.0.1:8000/goods_list",
                data: { type: data.text},
                dataType: "json",
                success: function (result) {
                    $('#all').empty();
                    var html = '';
                    //遍历返回的数据，查看当前的在线人数
                    $.each(result, function (index, data) {
                        html += 
                        '<div class="listitem"><li class="product photography"><a href="#"><img src='+data.url+' alt="Product" /><h5>'+data.goods_name+'</h5><span class="price">￥'+data.goods_price+'</span></a><div class="wishlist-box"><a href="#"><i class="fa fa-cart-plus" title="添加到购物车"></i></a><a href="#"><i class="fa fa-heart-o" title="收藏商品"></i></a><a href="#"><i class="fa fa-comments-o" title="联系商家"></i></a></div></li></div>'

                    });
                    $('#all').html(html);
                    flashs();
                }
            })
		}
	</script>


	<!-- Library - Js -->
	<script src="./static/libraries/lib.js"></script>
	
	<script src="./static/libraries/jquery.countdown.min.js"></script>
	
	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="./static/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="./static/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="./static/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="./static/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="./static/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="./static/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="./static/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="./static/js/my_js.js"></script>

	<!-- Library - Theme JS -->
	<script src="./static/js/functions.js"></script>
</body>
</html>

