<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Goods</title>

	<!--登录注册-->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link href="./static/style/login_register/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="./static/style/login_register/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<!-- //js -->
	<!-- cart -->
		<script src="./static/style/login_register/js/simpleCart.min.js"> </script>
	<!-- cart -->
	<link rel="stylesheet" type="text/css" href="./static/style/login_register/css/jquery-ui.css">
	<!-- for bootstrap working -->
		<script type="text/javascript" src="./static/style/login_register/js/bootstrap-3.1.1.min.js"></script>
	<!-- //for bootstrap working -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- animation-effect -->
	<link href="./static/style/login_register/css/animate.min.css" rel="stylesheet">
	<script src="./static/style/login_register/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<!-- //End of 登录注册 -->

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/settings.css">

	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/navigation.css">

	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="./static/style/custom/libraries/lib.css">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/style.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/my_style.css">

	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="./static/style/goods/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/ps-icon/style.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">-->
	<link rel="stylesheet" href="./static/style/goods/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/ps-icon/style.css">
	<!-- CSS Library-->
	<link rel="stylesheet" href="./static/style/goods/plugins/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/owl-carousel/assets/owl.carousel.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/slick/slick/slick.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/Magnific-Popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/navigation.css">
	<!-- Custom-->
	<link rel="stylesheet" href="./static/style/goods/css/style.css">
	<link rel="stylesheet" href="./static/style/goods/css/my_goods_style.css">
	<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
<!--WARNING: Respond.js doesn't work if you view the page via file://-->
	<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
	<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
	<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->

	<!--[if lt IE 9]>
		<script src="./static/style/custom/js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body class="ps-loading">
<div class="header--sidebar"></div>
<header class="header">
  <div class="header__top">
	<div class="container-fluid">
	  <div class="row">
			<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
			  <p></p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
			  <div class="header__actions">
				    <a href="log"><b>登录</b></a>
				    <a href="registe"><b>注册</b></a>
					<div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">功能服务<i class="fa fa-angle-down"></i></a>
					  <ul class="dropdown-menu my_text_center">
						<li><a href="#" class=""><i class="fa fa-user"></i> 个人中心</a></li>
						<li><a href="#" class=""><i class="fa fa-shopping-cart"></i> 购物车</a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 我的收藏</a></li>
						<li><a href="#"><i class="fa fa-book"></i> 我的订单</a></li>
						<li><a href="#"><i class="fa fa-upload"></i> 我的商品</a></li>
						<li><a href="#"><i class="fa fa-comment"></i> 联系商家</a></li>
						<li><a href="#"><i class="fa fa-power-off"></i> 退出登录</a></li>
					  </ul>
					</div>
			  </div>
			</div>
	  </div>
	</div>
  </div>
  <nav class="navigation">
	<div class="container-fluid">
	  <div class="navigation__column left">
		<h1><a href="#"><i style="font-weight: 900; color: #9ea13a">校园二手书 <span style="font-weight: 900;color: #777777">平台</span></i></a></h1>
	  </div>
	  <div class="navigation__column center">
		<ul class="main-menu menu">
		  <li class="menu-item menu-item-has-children"><a href="index.html">主页</a></li>
		  <li class="menu-item menu-item-has-children has-mega-menu"><a href="#">购物车</a></li>
		  <li class="menu-item"><a href="#">用户中心</a></li>
		  <li class="menu-item"><a href="#">联系我们</a></li>
		</ul>
	  </div>
	  <div class="navigation__column right">
		<form class="ps-search--header" action="do_action" method="post">
		  <input class="form-control" type="text" placeholder="查询商品…">
		  <button><i class="ps-icon-search"></i></button>
		</form>
		  <!--购物车商品数量-->
		<div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>3</i></span><i class="ps-icon-shopping-cart"></i></a>
		  <div class="ps-cart__listing">
			<div class="ps-cart__content">
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="#"></a><img src="./static/style/goods/images/books/数据库1.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="#">数据库系统</a>
				  <p><span>数量：<i>12</i></span><span>价格：<i>￥176</i></span></p>
				</div>
			  </div>
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="./static/style/goods/images/books/数据库2.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">The Crusty Croissant</a>
				  <p><span>数量：<i>12</i></span><span>价格：<i>￥176</i></span></p>
				</div>
			  </div>
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="./static/style/goods/images/cart-preview/3.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="product-detail.html">The Rolling Pin</a>
				  <p><span>数量：<i>12</i></span><span>价格：<i>￥176</i></span></p>
				</div>
			  </div>
			</div>
			<div class="ps-cart__total">
			  <p>总数量：<span>5</span></p>
			  <p>总价格：<span>￥528.0</span></p>
			</div>
			<div class="ps-cart__footer"><a class="ps-btn" href="cart.html">去支付<i class="ps-icon-arrow-left"></i></a></div>
		  </div>
		</div>
		<div class="menu-toggle"><span></span></div>
	  </div>
	</div>
  </nav>
</header>
<main class="ps-main">
  	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">登录</h3>
			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				<form method="POST">
					<input name = "email" type="email" placeholder="请输入邮箱" required="required" >
					<input name = "password" type="password" placeholder="请输入密码" required="required" >
					<input type="submit" value="登录">
					<p style="float: left; margin-top: 0.6em"><a href="#" style="color: #00A8FF; font-size: 14px">忘记密码？</a></p>
					<p style="float: right; margin-top: 0.6em">没有账号?点击<a style="color: #00A8FF" href="register.html">立即注册</a></p>
				</form>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 3em"></div>

  <!--页脚-->
  <div class="ps-footer bg--cover">
	<div class="ps-footer__copyright">
	  <div class="ps-container">
		<div class="row my_center">
			  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<p>Copyright &copy; 2018.Company name All rights reserved. <a href="#" target="_blank">二手书</a> - Collect from <a href="#" target="_blank">平台</a></p>
			  </div>
		</div>
	  </div>
	</div>
  </div><!--end of 页脚-->

  </div>
</main>

	<!-- Library - Js -->
	<script src="./static/style/custom/libraries/lib.js"></script>
	<script src="./static/style/custom/libraries/jquery.countdown.min.js"></script>

	<!-- RS5.0 Core JS Files -->
	<script type="text/javascript" src="./static/style/custom/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="./static/style/custom/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="./static/style/custom/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="./static/style/custom/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="./static/style/custom/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="./static/style/custom/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="./static/style/custom/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="./static/style/custom/js/my_js.js"></script>

	<!-- Library - Theme JS -->
	<script src="./static/style/custom/js/functions.js"></script>

	<!-- goods js -->
	<script type="text/javascript" src="./static/style/goods/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/gmap3.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/slick/slick/slick.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/elevatezoom/jquery.elevatezoom.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<!-- Custom scripts-->
	<script type="text/javascript" src="./static/style/goods/js/main.js"></script>
</body>
</html>

