<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>发布商品</title>

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/settings.css">

	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/navigation.css">

	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="./static/style/custom/libraries/lib.css">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/style.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/my_style.css">

	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="./static/style/goods/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/ps-icon/style.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">-->
	<link rel="stylesheet" href="./static/style/goods/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/ps-icon/style.css">
	<!-- CSS Library-->
	<link rel="stylesheet" href="./static/style/goods/plugins/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/owl-carousel/assets/owl.carousel.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/slick/slick/slick.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/Magnific-Popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/navigation.css">
	<!-- Custom-->
	<link rel="stylesheet" href="./static/style/goods/css/style.css">
	<link rel="stylesheet" href="./static/style/goods/css/my_goods_style.css">

	<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
	<!--WARNING: Respond.js doesn't work if you view the page via file://-->
	<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
	<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
	<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->

	<!--[if lt IE 9]>
		<script src="./static/style/custom/js/html5/respond.min.js"></script>
    <![endif]-->
	<!--订单-->

	<script src="./static/style/ordersheet/scriptaculous/lib/prototype.js" type="text/javascript"></script>
<script src="./static/style/ordersheet/scriptaculous/src/effects.js" type="text/javascript"></script>
<script type="text/javascript" src="./static/style/ordersheet/scriptaculous/src/validation.js"></script>
<script type="text/javascript">
</script>
<link title="style1" rel="stylesheet" href="./static/style/ordersheet/css/style.css" type="text/css" />
<link title="style2" rel="alternate stylesheet" href="./static/style/ordersheet/css/style2.css" type="text/css" />
<link title="style3" rel="alternate stylesheet" href="./static/style/ordersheet/css/style3.css" type="text/css" />

</head>

<body>
<div class="header--sidebar"></div>
<header class="header">
  <div class="header__top">
	<div class="container-fluid">
	  <div class="row">
			<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
			  <p></p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
			  <div class="header__actions">
				    <a href="login.html" style="color: #7290ff"><b>登录</b></a>
				    <a href="register.html" style="color: #7290ff"><b>注册</b></a>
					<div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">功能服务<i class="fa fa-angle-down"></i></a>
					  <ul class="dropdown-menu my_text_center">
						<li><a href="#" class=""><i class="fa fa-user"></i> 个人中心</a></li>
						<li><a href="#" class=""><i class="fa fa-shopping-cart"></i> 购物车<i style="opacity: 0">一</i></a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 我的收藏</a></li>
						<li><a href="#"><i class="fa fa-book"></i> 我的订单</a></li>
						<li><a href="#"><i class="fa fa-power-off"></i> 退出登录</a></li>
					  </ul>
					</div>
			  </div>
			</div>
	  </div>
	</div>
  </div>
  <nav class="navigation">
	<div class="container-fluid">
	  <div class="navigation__column left">
		<h1><a href="#"><i style="font-weight: 900; color: #9ea13a">校园二手书 <span style="font-weight: 900;color: #777777">平台</span></i></a></h1>
	  </div>
	  <div class="navigation__column center">
		<ul class="main-menu menu">
		  <li class="menu-item menu-item-has-children"><a href="index.html">主页</a></li>
		  <li class="menu-item menu-item-has-children has-mega-menu"><a href="#">购物车</a></li>
		  <li class="menu-item"><a href="#">用户中心</a></li>
		  <li class="menu-item"><a href="#">联系我们</a></li>
		</ul>
	  </div>
	  <div class="navigation__column right">
		<form class="ps-search--header" action="do_action" method="post">
		  <input class="form-control" type="text" placeholder="查询商品…">
		  <button><i class="ps-icon-search"></i></button>
		</form>
		  <!--购物车商品数量-->
		<div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>3</i></span><i class="ps-icon-shopping-cart"></i></a>
		  <div class="ps-cart__listing">
			<div class="ps-cart__content">
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="#"></a><img src="./static/style/goods/images/books/数据库1.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="#">数据库系统</a>
				  <p><span>数量：<i>12</i></span><span>价格：<i>￥176</i></span></p>
				</div>
			  </div>
			</div>
			<div class="ps-cart__total">
			  <p>总数量：<span>5</span></p>
			  <p>总价格：<span>￥528.0</span></p>
			</div>
			<div class="ps-cart__footer"><a class="ps-btn" href="cart.html">去支付<i class="ps-icon-arrow-left"></i></a></div>
		  </div>
		</div>
		<div class="menu-toggle"><span></span></div>
	  </div>
	</div>
  </nav>
</header>
<main class="ps-main">
  <div class="test">

	<div class="form_content">
    <form id="test" action="myorder" method="get">
    <fieldset>
        <legend>收货人信息</legend>
        <div class="form-row">
            <div class="field-label"><label for="field1">姓名</label>:</div>
            <div class="field-widget"><input name="field1" id="field1" class="required" title="Enter your name" /></div>
        </div>

        <div class="form-row">
            <div class="field-label"><label for="field2">联系电话</label>:</div>
            <div class="field-widget"><input name="field2" id="field2" class="required" title="Enter your name" /></div>
        </div>

        <div class="form-row">
            <div class="field-label"><label for="field3">留言备注</label>:</div>
            <div class="field-widget"><textarea id = "field3"class="required"></textarea></div>
        </div>


    </fieldset>
    <fieldset>
        <legend>订单详情</legend>

        <div class="form-row">
            <div class="field-label"><label for="field4">货品编号</label>:</div>
            <div class="field-widget"><span name="field4" id="field4">{{ goods_id }}</span></div>
        </div>

        <div class="form-row">
            <div class="field-label"><label for="field5">卖家ID</label>:</div>
            <div class="field-widget"><span name="field5" id="field5">{{ seller_id }}</span></div>
        </div>

        <div class="form-row">
            <div class="field-label"><label for="field6">收货地址</label>:</div>
            <div class="field-widget">
                <select id="field6" name="field6" class="validate-selection" title="Choose your department">
                    <option>{{ address.address_1 }}</option>
                    <option>{{ address.address_2 }}</option>
                    <option>{{ address.address_3 }}</option>
                    <option>{{ address.address_4 }}</option>
                    <option>{{ address.address_5 }}</option>
                </select>
            </div>
        </div>

		<div class="form-row">
            <div class="field-label"><label for="field9">新地址</label>:</div>
            <div class="field-widget"><textarea class="required"></textarea></div>
        </div>

		<div class="form-row">
			<div class="field-label"><label for="field7">优惠券</label>:</div>
            <div class="field-widget">
                <select  name="field7" id = "field7" class="validate-selection" title="Choose your coupon">
                    {% for item in coupon %}
                        <option>{{ item.coupon_name}} {{item.Coupon_id}}</option>
                    {% endfor %}

                    <!--
                    <option>不使用</option>
                    <option>优惠券</option>
                    <option>优惠券</option>
                    <option>优惠券</option>
                    <option>优惠券</option>
                    -->
                </select>
            </div>
		</div>
    </fieldset>
    <fieldset>
        <legend class="optional">支付状态</legend>


        <div class="form-row">
            <div class="field-label"><label for="field9">交易状态</label>:</div>
            <div class="field-label">
                <span>待付款</span>
            </div>
        </div>



    </fieldset>
    <button name="pay" onclick="buyer()" style="width:120px;height:30px;background:#97FFFF ;border:none">确认支付</button> <button name="cancel" href="JavaScript:history.back(-1)" style="width:120px;height:30px;background:#97FFFF; border:none">取消订单</button>
    </form>
    </div>

	  <!--页脚-->
	  <div class="ps-footer bg--cover">
		<div class="ps-footer__copyright">
		  <div class="ps-container">
			<div class="row my_center">
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>Copyright &copy; 2018.Company name All rights reserved. <a href="#" target="_blank">二手书</a> - Collect from <a href="#" target="_blank">平台</a></p>
				  </div>
			</div>
		  </div>
		</div>
	  </div><!--end of 页脚-->

  </div>
</main>

    
	<!-- goods js -->
	<script type="text/javascript" src="./static/style/goods/plugins/jquery/dist/jquery.min.js"></script>
	<script>
        function buyer(){
        	data = {name:$('#field1').val(),phonenumber:$('#field2').val(),note:$('#field3').val(),goods_id:$('#field4').text(),seller:$('#field5').text(),address:$('#field6').val(),coupon:$('#field7').val()};
            $.ajax({
                url: "http://127.0.0.1:8000/ordersheet",
                data:data,
                type:"POST",
                dataType: "json",
                success: function (result) {
                }
            });
            //window.location.href='http://127.0.0.1:8000/myorder';
		}
    </script>
	<script type="text/javascript" src="./static/style/goods/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/gmap3.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/slick/slick/slick.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/elevatezoom/jquery.elevatezoom.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<!-- Custom scripts-->
	<script type="text/javascript" src="./static/style/goods/js/main.js"></script>

</body>
</html>

