<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>发布商品</title>

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/settings.css">

	<!-- RS5.0 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/revolution/css/navigation.css">

	<!-- Library - Bootstrap v3.3.5 -->
    <link rel="stylesheet" type="text/css" href="./static/style/custom/libraries/lib.css">

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/plugins.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/navigation-menu.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/shortcode.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/style.css">
	<link rel="stylesheet" type="text/css" href="./static/style/custom/css/my_style.css">

	<!-- Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="./static/style/goods/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/ps-icon/style.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">-->
	<link rel="stylesheet" href="./static/style/goods/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/ps-icon/style.css">
	<!-- CSS Library-->
	<link rel="stylesheet" href="./static/style/goods/plugins/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/owl-carousel/assets/owl.carousel.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/slick/slick/slick.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/Magnific-Popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/settings.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/layers.css">
	<link rel="stylesheet" href="./static/style/goods/plugins/revolution/css/navigation.css">
	<!-- Custom-->
	<link rel="stylesheet" href="./static/style/goods/css/style.css">
	<link rel="stylesheet" href="./static/style/goods/css/my_goods_style.css">

	<!--发布商品-->
	<link rel="stylesheet" type="text/css" href="./static/style/publish_goods/css/home.css">
	<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
	<!--WARNING: Respond.js doesn't work if you view the page via file://-->
	<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
	<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
	<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->

	<!--[if lt IE 9]>
		<script src="./static/style/custom/js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body class="ps-loading">
<div class="header--sidebar"></div>
<header class="header">
  <div class="header__top">
	<div class="container-fluid">
	  <div class="row">
			<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
			  <p></p>
			</div>
			<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
			  <div class="header__actions">
				    <a href="#" style="color: #7290ff"><b>登录</b></a>
				    <a href="#" style="color: #7290ff"><b>注册</b></a>
					<div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">功能服务<i class="fa fa-angle-down"></i></a>
					  <ul class="dropdown-menu my_text_center">
						<li><a href="#" class=""><i class="fa fa-user"></i> 个人中心</a></li>
						<li><a href="#" class=""><i class="fa fa-shopping-cart"></i> 购物车<i style="opacity: 0">一</i></a></li>
						<li><a href="#"><i class="fa fa-heart"></i> 我的收藏</a></li>
						<li><a href="#"><i class="fa fa-book"></i> 我的订单</a></li>
						<li><a href="#"><i class="fa fa-power-off"></i> 退出登录</a></li>
					  </ul>
					</div>
			  </div>
			</div>
	  </div>
	</div>
  </div>
  <nav class="navigation">
	<div class="container-fluid">
	  <div class="navigation__column left">
		<h1><a href="#"><i style="font-weight: 900; color: #9ea13a">校园二手书 <span style="font-weight: 900;color: #777777">平台</span></i></a></h1>
	  </div>
	  <div class="navigation__column center">
		<ul class="main-menu menu">
		  <li class="menu-item menu-item-has-children"><a href="index.html">主页</a></li>
		  <li class="menu-item menu-item-has-children has-mega-menu"><a href="#">购物车</a></li>
		  <li class="menu-item"><a href="#">用户中心</a></li>
		  <li class="menu-item"><a href="#">联系我们</a></li>
		</ul>
	  </div>
	  <div class="navigation__column right">
		<form class="ps-search--header" action="do_action" method="post">
		  <input class="form-control" type="text" placeholder="查询商品…">
		  <button><i class="ps-icon-search"></i></button>
		</form>
		  <!--购物车商品数量-->
		<div class="ps-cart"><a class="ps-cart__toggle" href="#"><span><i>3</i></span><i class="ps-icon-shopping-cart"></i></a>
		  <div class="ps-cart__listing">
			<div class="ps-cart__content">
			  <div class="ps-cart-item"><a class="ps-cart-item__close" href="#"></a>
				<div class="ps-cart-item__thumbnail"><a href="#"></a><img src="./static/style/goods/images/books/数据库1.jpg" alt=""></div>
				<div class="ps-cart-item__content"><a class="ps-cart-item__title" href="#">数据库系统</a>
				  <p><span>数量：<i>12</i></span><span>价格：<i>￥176</i></span></p>
				</div>
			  </div>
			</div>
			<div class="ps-cart__total">
			  <p>总数量：<span>5</span></p>
			  <p>总价格：<span>￥528.0</span></p>
			</div>
			<div class="ps-cart__footer"><a class="ps-btn" href="cart.html">去支付<i class="ps-icon-arrow-left"></i></a></div>
		  </div>
		</div>
		<div class="menu-toggle"><span></span></div>
	  </div>
	</div>
  </nav>
</header>
<main class="ps-main">
  <div class="test">

	  <!--发布商品-->
	  <section class="aui-content">
            <div style="height:30px;"></div>
            <div class="form-group text-center">
				<div class="aui-content-up">
                <form action="" name="form1" method="post">
                    <div class="aui-content-up-form">
                        <h2>发布商品</h2>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            书籍名称 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_name" type="text" class="aui-form-control-two" required id="000" placeholder="请输入书籍名称">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            书籍作者 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_author" type="text" class="aui-form-control-two" required id="00" placeholder="请输入书籍作者">
                        </div>
                    </div>
                     <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            版本 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_vertion" type="text" class="aui-form-control-two" required id="1" placeholder="请输入出版日期">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            书籍类型 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_type" type="text" class="aui-form-control-two" required id="00" placeholder="请输入书籍类型">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            出版社 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_publisher"type="text" class="aui-form-control-two" required id="0" placeholder="请输入出版社">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            出版日期 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_publish_date" type="text" class="aui-form-control-two" required id="1" placeholder="请输入出版日期">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            商品原价 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_price" type="text" class="aui-form-control-two" required id="2" placeholder="请输入商品原价">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            当前价格 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_price1" type="text" class="aui-form-control-two" required id="3" placeholder="请输入当前价格">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            书籍余量 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input name = "book_amount" type="text" class="aui-form-control-two" required id="4" placeholder="请输入书籍余量">
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            书籍详情 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <textarea name = "book_introduction" class="aui-form-control" name="description" id="5" minlength="5" placeholder="请输入书籍详情"></textarea>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            更多信息 <em style="opacity: 0">*</em>
                        </label>
                        <div class="aui-form-input">
                            <textarea name = "book_information" class="aui-form-control" name="description" id="6" minlength="5" placeholder="你可以补充书籍信息等(选填)"></textarea>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            书籍图片 <em>*</em>
                            <span>最多五张图片</span>
                        </label>
                        <div class="aui-form-input">
                            <div class="aui-content-img-box aui-content-full">
                                <div class="aui-photo aui-up-img clear">
                                    <section class="aui-file-up fl">
                                    	<form id="uploadForm" action="Upload" method="post" enctype="multipart/form-data">
	                                        <img src="./static/style/publish_goods/img/up.png" class="add-img">
	                                        <input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
	                                    </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
					 <div class="aui-form-group-text">
                        <p><b>注意：</b>您上传的第一张图片将作为商品封面！</p>
                    </div>
                </form>
            </div>
			</div>
            <div class="aui-btn-default">
                <div class="form-group text-center">
					<button class="ps-btn" href = "seller" onclick = "publish()">确定并发布<i class="fa fa-angle-right"></i></button>
				</div>
            </div>
        </section>
        <!-- mask begin -->
        <div class="aui-mask aui-works-mask">
            <div class="aui-mask-content">
                <p class="aui-delete-text">确定要删除该图片？</p>
                <p class="aui-check-text">
                    <span class="aui-delete aui-accept-ok">确定</span>
                    <span class="aui-accept-no">取消</span>
                </p>
            </div>
        </div>
	  	<!--End of 发布商品-->

	  <!--页脚-->
	  <div class="ps-footer bg--cover">
		<div class="ps-footer__copyright">
		  <div class="ps-container">
			<div class="row my_center">
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>Copyright &copy; 2018.Company name All rights reserved. <a href="#" target="_blank">二手书</a> - Collect from <a href="#" target="_blank">平台</a></p>
				  </div>
			</div>
		  </div>
		</div>
	  </div><!--end of 页脚-->

  </div>
</main>
	<script type="text/javascript">
		function publish(){
			var book_name = document.getElementsByName("book_name")[0].value;
            var book_author = document.getElementsByName("book_author")[0].value;
            var book_publisher = document.getElementsByName("book_publisher")[0].value;
            var book_publish_date= document.getElementsByName("book_publish_date")[0].value;
            var book_vertion = document.getElementsByName("book_vertion")[0].value;
            var book_price = document.getElementsByName("book_price")[0].value;
            var book_amount = document.getElementsByName("book_amount")[0].value;
            var book_price1 = document.getElementsByName("book_price1")[0].value;
            var book_introduction = document.getElementsByName("book_introduction")[0].value;
            var book_information = document.getElementsByName("book_information")[0].value;
            var book_type = document.getElementsByName("book_type")[0].value;
            var user_id = "1";

            //上传商品的信息
            var goods_id;
            $.post("/publish",{'book_name':book_name, 'book_author':book_author,"book_publisher":book_publisher,"book_publish_date":book_publish_date,"book_price":book_price,"book_amount":book_amount,"book_price1":book_price1,
            	"book_introduction":book_introduction,"book_information":book_information,"book_type":book_type,"book_vertion":book_vertion,"user_id":user_id},
					function (result) {
	                	var formData = new FormData($("#uploadForm")[0]);
						$.ajax({
							type: "POST",
							data: formData,
							url: "/Upload/result",
							contentType: false,
							processData: false,
							success:function (data) {
								alert("商品发布成功")
							}
						});
	                }
            	);
            console.log(goods_id)
            //上传商品的图片
            /*
            var formData = new FormData($("#uploadForm")[0]);
			$.ajax({
				type: "POST",
				data: formData,
				url: "/Upload/1",
				contentType: false,
				processData: false,
				success:function (data) {
					alert("商品发布成功")
				})
			});
			*/
            //window.location.href='http://127.0.0.1:8000/seller';
		}
	</script>>

	<!-- goods js -->
	<script type="text/javascript" src="./static/style/goods/plugins/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/gmap3.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/imagesloaded.pkgd.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/slick/slick/slick.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/elevatezoom/jquery.elevatezoom.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="./static/style/goods/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<!-- Custom scripts-->
	<script type="text/javascript" src="./static/style/goods/js/main.js"></script>

	<!--发布商品-->
	<!-- mask end -->
	<script type="text/javascript" src="./static/style/publish_goods/js/up.js"></script>

</body>
</html>

